---
 const personalImageAlt = "Rub茅n Segura"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola soy Rub茅n Segura, un apasionado por la programaci贸n con formaci贸n en FP Superior <strong>DAM</strong> y <strong>DAW</strong>. 
      Con una s贸lida trayectoria como desarrollador backend, ahora estoy <strong>enfocando mi carrera hacia el desarrollo mobile en entorno Apple iOS</strong>.
    </p>

    <p>
      Durante los 煤ltimos meses, me he dedicado intensamente a aprender <strong>Swift, SwiftUI, y otras tecnolog铆as y frameworks
       clave para iOS de forma autodidacta</strong>, complementando mi formaci贸n con cursos especializados y la creaci贸n de un extenso
        portfolio de aplicaciones. Mi objetivo es consolidarme como desarrollador iOS y seguir creciendo 
        profesionalmente en este emocionante campo.
    </p>

    <p>
      Busco una <strong>oportunidad</strong> para aplicar mis habilidades y conocimientos en un entorno estimulante donde
       pueda seguir aprendiendo y contribuir al desarrollo de soluciones innovadoras. <strong> entusiasmado por 
       las posibilidades que ofrece el desarrollo m贸vil y comprometido con mi desarrollo continuo en esta 谩rea</strong>.
    </p>

    <p>
      <i>Puedes descargar mi CV desde <a href="/public/projects/cv/cvruben.pdf">aqu铆 </i></a>
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>