---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrolador Backend",
    company: "NTT Data",
    description:
      "He trabajado en diversos proyectos para clientes de alto perfil a nivel nacional, destacándome como un desarrollador versátil y multidisciplinar. Mi experiencia abarca desde el análisis y desarrollo de evolutivos, la resolución de incidencias y el mantenimiento, hasta la documentación del código. He utilizado una amplia variedad de tecnologías y metodologías para asegurar la calidad y eficiencia en cada proyecto. Además, valoro profundamente el trabajo en equipo y la colaboración mutua, ya que creo firmemente en mejorar continuamente tanto a nivel personal como profesional, contribuyendo así al éxito colectivo de los proyectos.",
    link: "https://www.linkedin.com/in/rubenseguraromo/",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
